body {
    font-family: sans-serif;
}

#calc {
    border: 2px solid blue;
    width: 50%;
    padding: 5px;

}

body {
    font-family: sans-serif;
  }
  
  #calc {
    border: 2px solid blue;
    width: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      'input  input    input   input'
      'op      op      op      op'
      'numbers numbers numbers op'
      'numbers numbers numbers op'
      'numbers numbers numbers op'
      'numbers op      op      op';
      grid-gap: 10px;
  }
  .expression {
    grid-area: in;
  }
  .numbers {
    grid-area: 'numbers';
  }
  .operations {
    grid-area: 'numbers';
  }
  